*{
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}
html,body,#root,.App{
  height: auto;
    min-height: 100vh;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #041C32;
}